.text {
    /*
        * - Primer valor se aplica de manera horizontal (eje de las X)
        * - Segundo valor se aplica de manera vertical (eje de las Y)
        * - Tercer valor es el efecto blur o difuminado
        * - El color lo podemos poner al principio o al final
    */
    text-shadow: #85FFBD 10px 3px 10px;
    color: rgb(48, 195, 206);
}

.box {
    width: 200px;
    height: 200px;
    background-color: teal;
    border-radius: 4px;
    box-shadow: tomato 15px 10px 10px, rgb(0, 102, 128) 30px 25px 10px;
}